:root {
	/* TODO - Change the min size */
	--tab-min-size: 150px;
	--tab-max-size: 150px;

	--ggs: 0.6; /* Used by the https://css.gg/ icons to resize */
}

.app {
	display: grid;
	grid-template-rows: 0.07fr 0.93fr;
	background-color: #23274A;
	font-family: 'Poppins', sans-serif;
}

.app .tabs {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--tab-min-size), var(--tab-max-size)));
	grid-auto-flow: column;
	grid-auto-columns: minmax(var(--tab-min-size), var(--tab-max-size));
	overflow-x: auto;
	background-color: #131733;
}

.app .tabs .tab {
	min-width: var(--tab-min-size);
	max-width: var(--tab-max-size);
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #131733;
	color: white;
	cursor: pointer;
}

.app .tabs .tab.selected {
	background-color: #23274A;
}

.app .tabs .tab:not(.selected):hover {
	background-color: #2a2e47;
}

.app .tabs .tab .file-name {
	display: inline-block;
	max-width: 100px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-left: 5px;
}

.app .tabs .tab .close-button {
	margin-right: 5px;
}

.app .tabs .tab .close-button i:hover {
	cursor: pointer;
}

.app .editors .editor:not(.selected) {
	display: none;
}