:root {
	--editor-margin: 30px;
	--editor-width: calc(100% - var(--editor-margin));
}

.editor {
	max-width: var(--editor-width);
	width: var(--editor-width);
	margin: var(--editor-margin);
	float: left;
	color: white;
}

.editor label {
    float: left;
}