/** Largely taken from https://github.com/lunu-bounir/tree.js/blob/master/tree.css **/

.file-system {
  user-select: none;
  background-color: var(--color-bg-dark);
}

.file-system span,
.file-system summary {
  display: block;
  width: fit-content;
  border: solid 1px transparent;
  padding: 0 2px;
  outline: none;
  cursor: pointer;
}

.file-system span {
  text-decoration: none;
  color: white;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 300;
  font-size: 14px;
}

.file-system summary {
  list-style-type: none;
  background-color: var(--color-scroll-medium);
  border-radius: 5px;
  outline: none;
  color: white;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 300;
  font-size: 14px;
}

.file-system details > :not(details),
.file-system details {
  position: relative;
}

.file-system details :not(summary) {
  margin-left: 20px;
}

.file-system details:first-of-type {
  margin-left: 20px;
}

.file-system details::before,
.file-system details > :not(details)::before {
  content: '';
  width: 10px;
  display: block;
  position: absolute;
}

.file-system details::before,
.file-system details > :not(details)::before {
  background: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M3 5C3 3.34315 4.34315 2 6 2H14C17.866 2 21 5.13401 21 9V19C21 20.6569 19.6569 22 18 22H6C4.34315 22 3 20.6569 3 19V5ZM13 4H6C5.44772 4 5 4.44772 5 5V19C5 19.5523 5.44772 20 6 20H18C18.5523 20 19 19.5523 19 19V9H13V4ZM18.584 7C17.9413 5.52906 16.6113 4.4271 15 4.10002V7H18.584Z" fill="white" /></svg>') center center / 12px 12px no-repeat;
  left: -14px;
  top: 0.1px;
  width: 16px;
  height: 16px;
}

.file-system details::before {
  top: 0;
  height: 100%;
  background-repeat: repeat-y;
  left: 5px;
  z-index: -1;
}

.file-system details > summary::before {
  background: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" ><path d="M12 6C12.5523 6 13 6.44772 13 7V11H17C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13H13V17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17V13H7C6.44772 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11H11V7C11 6.44772 11.4477 6 12 6Z" fill="white" /><path fill-rule="evenodd" clip-rule="evenodd" d="M5 22C3.34315 22 2 20.6569 2 19V5C2 3.34315 3.34315 2 5 2H19C20.6569 2 22 3.34315 22 5V19C22 20.6569 20.6569 22 19 22H5ZM4 19C4 19.5523 4.44772 20 5 20H19C19.5523 20 20 19.5523 20 19V5C20 4.44772 19.5523 4 19 4H5C4.44772 4 4 4.44772 4 5V19Z" fill="white" /></svg>') center center / 12px 12px no-repeat;
  left: -18px;
  top: 0px;
  width: 16px;
  height: 16px;
}

.file-system details[open] > summary::before {
  background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 11C7.44772 11 7 11.4477 7 12C7 12.5523 7.44772 13 8 13H16C16.5523 13 17 12.5523 17 12C17 11.4477 16.5523 11 16 11H8Z" fill="white" /><path fill-rule="evenodd" clip-rule="evenodd" d="M1 5C1 2.79086 2.79086 1 5 1H19C21.2091 1 23 2.79086 23 5V19C23 21.2091 21.2091 23 19 23H5C2.79086 23 1 21.2091 1 19V5ZM5 3H19C20.1046 3 21 3.89543 21 5V19C21 20.1046 20.1046 21 19 21H5C3.89543 21 3 20.1046 3 19V5C3 3.89543 3.89543 3 5 3Z" fill="white" /></svg>');
}

.file-system summary.selected {
  border-color: var(--color-highlight-light);
  z-index: 1;
}