:root {
	--file-system-width: 20vw;
	--app-width: 80vw;
	--grid-gap: 0px;
	--grid-gap-corrected: calc(var(--grid-gap) * 2);
	--true-file-system-width: calc(var(--file-system-width) - var(--grid-gap-corrected));
	--true-app-width: calc(var(--app-width) - var(--grid-gap-corrected));
	--main-height: calc(100vh - var(--grid-gap-corrected));

	/* Colors */
	--color-bg-dark: #131733;
	--color-bg-dark-medium: #171B37;
	--color-bg-medium: #1B1F3B;
	--color-bg-light: #23274A;

	--color-scroll-dark: #212859;
	--color-scroll-medium: #33386c;
	--color-scroll-light: #3c4267;

	--color-highlight-dark: #673DB6;
	--color-highlight-medium: #9D6FF3;
	--color-highlight-light: #A185D6;
}

body {
	margin: 0;
	background-color: ivory;
	font-family: 'Poppins', sans-serif;
}

.main {
	display: grid;
	grid-template-columns: var(--true-file-system-width) var(--true-app-width);
	grid-gap: var(--grid-gap);
	height: var(--main-height);
}

.file-system {
	max-width: var(--true-file-system-width);
	overflow-x: scroll;
}

.app {
	max-width: var(--true-app-width);
}

button {
	appearance: none;
	border: 0;
	border-radius: 6px;
	font-size: 1rem;
	color: white;
	padding: 4px 48px;
	background: #373C65;
	cursor: pointer;
}

input[type="text"] {
	appearance: none;
	display: block;
	font-size: 1rem;
	background-color: #373C65;
	border: none;
	border-radius: 4px;
	padding: 4px;
	color: white;
}
input[type="text"]:focus {
	outline: none;
}

/* Scrollbar */

::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    background: var(--color-scroll-dark);
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-scroll-dark);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-scroll-medium); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-scroll-light);
}

/* Fix white corner */
::-webkit-scrollbar-corner { 
  background: var(--color-scroll-dark);
}

/* Modal (Lifted from PretendoNetwork/website) */

body.modal-open {
	overflow: hidden;
}

div.modal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.4);

	z-index: 10;
}
div.modal-wrapper.hidden {
	display: none;
}
div.modal {
	background: var(--color-bg-dark);
	padding: 48px;
	border-radius: 8px;
	text-align: left;
	width: min(660px, 90%);
	box-sizing: border-box;
}

div.modal h1 {
	margin-top: 0;
}
p.modal-caption, h1.modal-title {
	color: white;
}


.modal-button-wrapper {
	margin-top: 24px;
	display: flex;
	justify-content: flex-end;
}
.modal-button-wrapper button {
	margin-left: 12px;
	width: fit-content;
}
.modal-button-wrapper button.cancel {
	background: none;
}
.modal-button-wrapper button {
	padding: 12px 24px;
}

@media screen and (max-width: 600px) {
	div.modal {
		padding: 24px;
	}
}

progress {
  width: 100%;
  accent-color: var(--color-highlight-light);
}